.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px; /* Reducido a la mitad del tamaño original */
  height: 50px; /* Reducido a la mitad del tamaño original */
  transform: translate(-50%, -50%) rotate(45deg); /* Centra y rota el loader */
}

.loader-square {
  position: absolute;
  width: 14px; /* Reducido a la mitad del tamaño original */
  height: 14px; /* Reducido a la mitad del tamaño original */
  margin: 1px; /* Ajusta el margen según sea necesario */
  background: var(
    --clr-secondary
  ); 
  animation: square-animation 10s ease-in-out infinite both;
}

/* Añadir el retraso de la animación para cada cuadrado */
.loader-square:nth-of-type(1) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -8.5714285714s;
}

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 16px; /* Reducido a la mitad del tamaño original */
    top: 0;
  }
  23% {
    left: 16px; /* Reducido a la mitad del tamaño original */
    top: 0;
  }
  25% {
    left: 32px; /* Reducido a la mitad del tamaño original */
    top: 0;
  }
  35.5% {
    left: 32px; /* Reducido a la mitad del tamaño original */
    top: 0;
  }
  37.5% {
    left: 32px; /* Reducido a la mitad del tamaño original */
    top: 16px; /* Reducido a la mitad del tamaño original */
  }
  48% {
    left: 32px; /* Reducido a la mitad del tamaño original */
    top: 16px; /* Reducido a la mitad del tamaño original */
  }
  50% {
    left: 16px; /* Reducido a la mitad del tamaño original */
    top: 16px; /* Reducido a la mitad del tamaño original */
  }
  60.5% {
    left: 16px; /* Reducido a la mitad del tamaño original */
    top: 16px; /* Reducido a la mitad del tamaño original */
  }
  62.5% {
    left: 16px; /* Reducido a la mitad del tamaño original */
    top: 32px; /* Reducido a la mitad del tamaño original */
  }
  73% {
    left: 16px; /* Reducido a la mitad del tamaño original */
    top: 32px; /* Reducido a la mitad del tamaño original */
  }
  75% {
    left: 0;
    top: 32px; /* Reducido a la mitad del tamaño original */
  }
  85.5% {
    left: 0;
    top: 32px; /* Reducido a la mitad del tamaño original */
  }
  87.5% {
    left: 0;
    top: 16px; /* Reducido a la mitad del tamaño original */
  }
  98% {
    left: 0;
    top: 16px; /* Reducido a la mitad del tamaño original */
  }
  100% {
    left: 0;
    top: 0;
  }
}
